.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.paginationDot {

  height: 0.562rem !important;
  width: 0.562rem !important;
  margin: 0 15px;
}

.paginationDot--carousel--isActive {
  background-color: #2CFFF5 !important;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* --------------------------------------------------- */

.imageElement--carousel2 {
  /* width: 67% !important; */
}

.sliderTrack--carousel2 {
  height: 200px;
  align-items: flex-start;
}

.paginationDot--isActive {
  background-color: #4F32FE;
}

.sliderLayoutContainer--carousel2 {
  padding: 0 57px;
  overflow: hidden;
}

.paginationDotsContainer--carousel2 {
  margin-top: 16px;
  margin-bottom: 0px;
}

.paginationDotsContainer--shelf-topSeller {
  margin-top: 1.25rem;
  margin-bottom: 0px;
}

.sliderLayoutContainer--shelf-topSeller {
  padding: 0 18px !important;
}