.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

/* --------------------------baixo------------midia no final da pagina------------------- */


.searchBarContainer {
  padding: 0;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
  padding: 0;
  background-color:  #4F32FE;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;
  padding-left: 28px;
}

.searchBarContainer ::placeholder {
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-weight: 700;
  letter-spacing: 0;
  vertical-align: middle;
  opacity: 1;
}

.searchBarContainer :global(.vtex-input__suffix){
  background-color: transparent;
}

.imageElement--imageDeal1 {
  padding-left: 0px;
}

.searchBarIcon {
  color: white;
}

.logoContainer {
  padding: 0;
}

.logoImage {
  padding-top: 15px;
}

.logoLink {
  margin-left: 19px;
}

.container {
  /* padding: 0px;
  margin: 0px; */
  display: flex;
  justify-content: center;
}

/* .newsletter {
  background-color: #4F32FE;
  /* max-width: 371px;
  max-height: 271px;
  margin: 0 auto; 
}*/

.imageElement--carousel2 {
  max-height: 171px;
  max-width: 139px;
}


.container--newsletter {
  padding: 0 !important;
  max-height: 271px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 21px 0px;
  background-color: #4F32FE;
}

.form--newsletter {
  max-width: 328px;
  padding: 40px 0;
  max-height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.label--newsletter {
  font: 20px/12px Nunito Sans;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.label--newsletter::after {
  content: "\a Acompanhe nossas novidades. Cadastre-se em nossa newsletter. \a";
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: 400;
  padding: 0 58px;
  line-height: 20px;
}

.inputGroup--newsletter {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 0px;
}

.inputGroup--newsletter :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 28px;
  height: 57px;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: rgba(0,0,0,0.15);
  border: none;
  padding: 20px 30px;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  opacity: 1;
}

.buttonContainer {
  padding-top: 0px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 900;
  line-height: 30px;
  margin-top: 3px;
}

.imageElement--mobilePayment {
  max-height: 35px;
}

.imageElement--mobileCertificates {
  max-height: 45px;
}

.imageElementLink--mobileOsCaraAvanti {
  display: flex;
  justify-content: flex-end;
  padding-right: 21px;
  border-right: 1px solid #847B91;
}

.imageElementLink--mobileOsCara {
  display: flex;
  justify-content: flex-start;
  padding-left: 21px;
}

.imageElement--mobileOsCaraAvanti {
  max-height: 21px;
}

.imageElement--mobileOsCara {
  max-height: 21px;
}


/* ---------------------------cima------------------------------ */

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

/* .newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
} */
/* 
.label {
  color: #fff;
  font-size: 26px;
} */

/* .inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
} */



/* .inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
} */




.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 0px;
  margin-top: 30px;
}

.skuSelectorSubcontainer {
  margin: 0px;
}

/* @media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
} */

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  font: normal normal normal 20px 'Nunito Sans';
  color: black;
}

.thumbImg {
  max-width: 86.4px;
}

.carouselGaleryThumbs {
  max-width: 86.4px;
}

.productImagesThumbActive {
  margin-bottom: 22.6px;
}

.productDescriptionText {
  font: normal normal normal 14px/30px 'Nunito Sans';
  color: #000;
  text-align: center;
}

.productDescriptionTitle {
  font: normal normal bold 24px/35px Nunito Sans;
  color: black;
  margin-bottom: 30px;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 979px;
}

.productImageGallerySlide {
  max-width: 513px; 
}

.carouselGaleryCursor {
  padding: 0px;
  margin: 0px;
  width: 513px;
}


@media only screen and (min-width: 640px) and (max-width: 1920px) {
  .logoLink {
    margin-left: 0px;
  }
  
  .container--newsletter {
    margin: auto;
    max-width: none;
    margin-top: 100px;
    max-height: 305px;
  }

  .form--newsletter {
    max-width: none;
    padding: 75px 0;
    max-height: none;
    height: 305px;
  }

  .inputGroup--newsletter {
    flex-direction: row;
    padding-top: 34px;
  }

  .inputGroup--newsletter :global(.vtex-input-prefix__group) {
    width: 453px;
  }

  .buttonContainer--newsletter {
    padding-left: 20px;
  }

  .buttonContainer--newsletter :global(.vtex-button__label) {
    padding: 0;
  }

  .logoImage {
    padding-top: 17px;
    margin-right: 69px;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1920px) {

  .searchBarInnerContainer {
    width: 898px;
    max-width: 100%;
  }

  .searchBarContainer :global(.vtex-input-prefix__group) {
    background-color: transparent;
    border-bottom: 1px solid #847B91;
  }
  
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    padding-left: 0px;
  }
  
  .searchBarContainer ::placeholder {
    color: #847B91;
    font-weight: 400;
    font: 14px/12px Nunito Sans;
  }
  
  .searchBarContainer :global(.vtex-input__suffix){
    background-color: transparent;
    padding: 0;
  }

  .searchBarIcon {
    color: #4F32FE;
  }
}