.styledLinkContainer--menuItemFooter {
  padding-left: 50px;
  margin: 0px;
  border-bottom: 1px solid #f6f5f8;
}

.styledLinkContent--menuItemFooter {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  color: #847B91;
  line-height: 50px;
}

.menuContainerNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 335px;
}

.menuContainer {
  width: inherit;
}

.menuItem--menuItemHeader {
  height: 56px;
  display: flex;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #E4DDEE;
  padding-left: 29px;
}

.menuItem--menuItemHeader:first-child {
  height: 36px;
  align-items: flex-start;
}

.menuItem--menuItemHeader:last-child {
  border-bottom: none;
}

.menuItem--menuItemHeader:last-child .styledLinkContent--menuItemHeader {
  color: #4F32FE;
}

.styledLinkContainer--menuItemHeader {
  padding-left: 0px;
  margin: 0px;
}

.styledLinkContent--menuItemHeader {
  font: normal normal 600 15px/12px 'Nunito Sans';
  color: #000000;
}

@media only screen and (min-width: 640px){
	.styledLinkContainer--menuItemFooter {
    padding: 0px;
		margin: 0px;
		border: none;
	}

	.styledLinkContent--menuItemFooter {
		font: normal normal normal 14px/25px 'Nunito Sans';
		color: #847B91;
  }

  .menuContainer {
    justify-content: space-between;
  }

  .menuContainer--menuFooter {
    width: inherit;  
  }
    
  .menuItem--menuItemHeader {
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    padding: 0px;
    height: auto;
  }

  .menuItem--menuItemHeader:first-child {
    height: auto;
    align-items: flex-start;
  }

  .menuItem--menuItemHeader:last-child .styledLinkContent--menuItemHeader {
    color: #000000;
  }

  .menuContainerNav {
    width: auto;
  }

  .submenuWrapper--isOpen {
    padding: 0px;
    margin: 0px;
  }

  .submenuWrapper--category-todos--isOpen {
    top: 42px;
    left: -208px;
  }

  .submenuWrapper--category-todos-eletroHome--isOpen {
    top: -35px;
    left: 255px;
    background: #F6F5F8;
  }

  .menuItem--category-todos-eletroHome {
    margin-right: 45px;
    border-top: 2px solid  #4F32FE;
  }

  .menuContainer--todos-eletroHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content !important;
  }

  .submenuWrapper--isOpen :global(.vtex-menu-2-x-menuContainer) {
    width: 255px;
  }

  .submenuWrapper--isOpen :global(.vtex-menu-2-x-styledLinkContainer) {
    padding: 0px;
    margin: 0px;
  }

  .submenuWrapper--isOpen :global(.vtex-menu-2-x-styledLinkContainer):hover {
    background-color: #F6F5F8;
  }

  .submenuWrapper--isOpen :global(.vtex-menu-2-x-styledLinkContent) {
    font: normal normal normal 14px/35px 'Nunito Sans';
    padding-left: 41px;
    color: #000000;
    margin-right: 41px;
  }

  .submenuWrapper--isOpen :global(.vtex-menu-2-x-styledLinkContent):hover {
    font-weight: 700;
    color: #4F32FE;
  }
}