.container--textDeal1 {
  color: #ffffff;
  justify-content: center;
  padding-left: 15px;
  font: 13px/12px 'Nunito Sans';
}

.container--shelfTitle {
  color: #000000;
  justify-content: center;
  text-align: center;
  font: 20px/12px 'Nunito Sans';
}

.strong--textDeal1 {
  font: 16px/12px 'Nunito Sans';
  font-weight: 700;
}

.paragraph--shelfTitle {
  margin-bottom: 20px;
  margin-top: 50px;
}

.container--deals .paragraph {
  margin: 0;
}

.wrapper--dummie {
  color: #000000;
  font: 14px/25px 'Nunito Sans';
  margin: 0 20px;
}

.paragraph--dummie {
  margin: 0px;
}

.paragraph--dummie:first-child {
  margin-top: 0px;
  margin-bottom: 20px;
}

.paragraph--footerMenuTitle {
  font-family: 'nunito sans';
  font-weight: 700;
  font-size: 16px;
  padding-left: 28px;
  color: #000;
}

.container--footerMenuTitle {
  background-color: #f6f5f8;
  max-height: 51px;
  align-items: center;
}

.container--notification {
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.paragraph--notification {
  font: 16px/12px 'Nunito Sans';
  color: #ffffff;
}
/* ----------------------pra cima eu fiz --------------------------- */

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
