.product-identifier--productReference {
  font: normal normal 600 12px 'Nunito Sans';
  color: #847B91;
  display: flex;
  justify-content: center;
  margin-bottom: 27px
}

@media only screen and (min-width: 640px) {
  .product-identifier--productReference {
    justify-content: flex-start;
  }
}