.openIconContainer {
    padding: 0px;
}

.openIconContainer :global(.vtex-button__label) {
    padding: 0px;
    width: 27px;
    height: 24px;
    margin-left: 10px;
}

@media only screen and (max-width: 640px) {
    .openIconContainer :global(.vtex-button__label) {
        padding: 0px;
        width: 27px;
        height: 24px;
        margin-left: 10px;
        padding-left: 20px;
    }
}