.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
/* --------------------------baixo----------------------------- */

.footerLayout {
  margin-top: 20px;
}

.socialNetworksContainer {
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f6f5f8;
  border-bottom: 1px solid #E4DDEE;
}

.socialNetworkImage {
  max-height: 23px;
}

@media only screen and (min-width: 640px) {
  .footerLayout {
    margin-top: 58px;
  }
}

@media only screen and (min-width: 1026px) {

  .socialNetworksContainer {
    align-items: flex-start;
    background-color: transparent;
    border-bottom: none;
  }
}