.container--layout {
  max-width: 1260px;
  width: 92.64vw;
}

.galleryTitle--layout {
  font: normal normal bold 30px/31px 'Nunito Sans';
  margin-top: 46px;
  margin-bottom: 50px;
}

.totalProducts--layout {
  color: #4F32FE;
  font: normal normal 600 12px/31px 'Nunito Sans';
}

.totalProductsMessage {
  color: #000000;
  font: normal normal 600 10px/31px 'Nunito Sans';
}

.filterPopupTitle {
  font: normal normal normal 14px/12px 'Nunito Sans';
  color: #847B91;
  text-transform: none;
  margin-left: 21px;
}

.orderByButton {
  height: 43px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #E4DDEE;
  width: 317px;
  border-radius: 21px;
  justify-content: space-between;
}

.orderByText {
  font: normal normal normal 14px/31px 'Nunito Sans';
  color: #000000;
}

.filterPopupArrowIcon {
  color: #4F32FE;
}

.gallery {
  padding: 0px;
  margin-left: 65px;
  column-gap: 25px;
}

.galleryItem {
  max-width: 300px !important;
  padding: 0px;
}

.filtersWrapper {
  width: 244px;
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: 31px;
}

.buttonShowMore :global(.vtex-button) {
  height: 53px;
  width: 100%;
  border-radius: 27px;
  background-color: #4F32FE;
  border-color: #4F32FE;
}

.buttonShowMore :global(.vtex-button__label) {
  font: normal normal bold 16px 'Nunito Sans';
  text-transform: none;
}

@media only screen and (max-width: 800px) {
  .orderByButton {
    height: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 0px;
    justify-content: center;
  }

  .searchResultContainer--layoutMobile {
    padding: 0px;
  }

  .orderByDropdown {
    padding: 0px;
  }

  .filtersWrapperMobile {
    border: 1px solid #E4DDEE;
    max-height: 50px;
  }

  .orderByText {
    font: normal normal bold 14px/31px 'Nunito Sans';
    color: #000000;
  }

  .filterPopupArrowIcon {
    opacity: 0;
    padding: 0px;
  }

  .filterPopupButton .filterPopupTitle {
    font: normal normal bold 14px/31px 'Nunito Sans';
    color: #000000;
  }

  .filterPopupTitle {
    margin: 0px
  }

  .totalProducts--layout {
    max-height: 62px;
  }

  .gallery {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .buttonShowMore :global(.vtex-button) {
    max-width: 281px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1360px) {
  .gallery {
    padding: 0px;
    margin-left: 4.78vw;
    column-gap: 1.83vw;
  }
}