.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #000000;
}

.sliderLeftArrow {
  background-color: #ffffff !important;
  box-shadow: 0px 3px 6px #4F32FE11;
  height: 58px;
  width: 58px;
  border-radius: 29px;
  top: 130px;
  left: -5px;
}

.sliderRightArrow {
  background-color: #ffffff !important;
  box-shadow: 0px 3px 6px #4F32FE11;
  height: 58px;
  width: 58px;
  border-radius: 29px;
  top: 130px;
  right: -4px;
}

.caretIcon {
  color: #4f32fe;
}

.sliderTrackContainer {
  max-width: 1260px;
}

.paginationDotsContainer {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.paginationDot {

  height: 0.562rem !important;
  width: 0.562rem !important;
  margin: 0 15px;
}

.paginationDot--carousel--isActive {
  background-color: #2CFFF5 !important;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* --------------------------------------------------- */

/* .imageElement--carousel2 {
  width: 67% !important;
} */

.sliderTrack--carousel2 {
  height: 200px;
  align-items: center;
}

.paginationDot--isActive {
  background-color: #4F32FE;
}

.sliderLayoutContainer--carousel2 {
  padding: 0 57px;
  overflow: hidden;
}

.paginationDotsContainer--carousel2 {
  margin-top: 16px;
  margin-bottom: 0px;
}

.paginationDotsContainer--shelf-topSeller {
  margin-top: 1.25rem;
  margin-bottom: 0px;
}

.sliderLayoutContainer--shelf-topSeller {
  padding: 0 18px !important;
}

.sliderTrack--shelf-topSeller {
  gap: 1rem;
}

@media only screen and (min-width: 640px) {
  .sliderTrack {
    gap: 1rem
  }

  .sliderLayoutContainer--shelf-topSeller {
    padding: 0px !important;
    max-width: 1314px;
    margin: 0px 18px;
  }
}

@media only screen and  (min-width: 1020px) and (max-width: 1360px) {
  /* .sliderTrack--shelf-topSeller {
    transform: translate3d(-23.83%, 0px, 0px) !important;
    width: 433% !important;
  } */

  .sliderTrackContainer--shelf-topSeller {
    max-width:  92.65vw;
  }
}